<% // Print any existing questions %>
<% const questionTypes = ['text', 'scale', 'choice']; %>
<% if (typeof questions !== 'undefined') { %>
  <% for (let question of questions) { %>
    <%- include('questionEditingTemplates/baseTemplate', {question: question, questionTypes: questionTypes}) %>
  <% } %>
<% } %>
<div class="form-group row">
  <div class="col">
    <button type="button" class="btn btn-secondary d-block mx-auto">Add Question</button>
  </div>
</div>
<div class="d-none" id="question-template">
  <% for (questionType of questionTypes) { %>
    <%- include('questionEditingTemplates/baseTemplate', {question: { kind: questionType }, questionTypes: questionTypes}) %>
  <% } %>
</div>
