<% // Print any existing questions %>
<% const questionTypes = ['text', 'scale', 'choice']; %>
<% if (typeof questions !== 'undefined' && questions !== null) { %>
  <% for (let question of questions) { %>
    <%- include('questionEditingTemplates/baseTemplate', {question: question, questionTypes: questionTypes}) %>
  <% } %>
<% } %>
<div class="form-group row add-question-button-row">
  <div class="col">
    <button type="button" class="btn btn-secondary d-block mx-auto" data-action="add-question">Add Question</button>
  </div>
</div>
<div class="d-none" id="question-template">
  <div data-question-type="basic">
    <%- include('questionEditingTemplates/baseTemplate', {questionTypes: questionTypes}) %>
  </div>
  <% for (questionType of questionTypes) { %>
    <div data-question-type="<%=questionType; %>">
      <%- include('questionEditingTemplates/' + questionType + 'QuestionTemplate') %>
    </div>
  <% } %>
</div>
