<%- include('./../partials/head'); %>
<%- include('./../partials/header'); %>
<div class="container my-5">
  <div>
    <h3>Edit Survey</h3>
    <p>A cohort is a group of people who you want to survey. A cohort could be the students in a class, the members of a sports club, or a team in a company.</p>
    <%- include('./../partials/editSurveyForm'); %>
  </div>
</div>

<%- include('./../partials/feet'); %>
