<%- include('./partials/head'); %>
<%- include('./partials/header'); %>
Welcome to Fast Feedback<% if (username) { %>, <%= username %><% } %>. Would you like to <a href="/auth/logout">logout</a>?

<%- include('./partials/feet'); %>
