<%- include('./partials/head'); %>
<%- include('./partials/header'); %>
  <div class="container">
    <div class="jumbotron mt-5">

      <div class="d-flex align-items-center justify-content-between flex-md-row flex-column">
        <div>
          <h1 class="display-3">Keep Asking</h1>
          <p class="lead">A free system that makes it easy to create, manage, and analyse the results of recurring surveys.</p>
        </div>
        <div>
          <a class="btn btn-primary btn-lg" href="/login" role="button" class="align-middle">Sign up or Login</a>
        </div>
      </div>

      <hr class="my-4">

      <div class="row">
        <div class="col-md">
          <h2>Motivation</h2>
          <p>
            Constructive and timely feedback is important for any person or organisation seeking to improve. Surveys are an excellent tool for gathering feedback from large groups.
          </p>
          <p>
            Managing recurring feedback surveys using existing survey platforms (such as Google Docs or SurveyMonkey) is time-consuming and stressful. Keep Asking uses automation to relieve these burdens and help respondents to build the habit of regularly providing feedback.
          </p>
          <p>
            Keep Asking seeks to:
          </p>
          <ul>
            <li>
              Empower surveyors to administer recurring surveys with minimal, constant-time effort.
            </li>
            <li>
              Achieve high survey response rates without overly annoying respondents.
            </li>
          </ul>

        </div>
        <div class="col-md">
          <h2>Approach</h2>
          <img src="/img/schematic_drawing.svg" class="img-fluid" alt="A schematic drawing of the Keep Asking workflow.">
        </div>
      </div>

      <hr class="my-4">

      <h2>Use Cases for Keep Asking</h2>
      <div class="card-deck my-3">
        <div class="card">
          <img class="card-img-top" src="/img/teach.jpeg" alt="Students throwing their mortarboards into the air">
          <div class="card-body">
            <h5 class="card-title">Education</h5>
            <p class="card-text">Teachers can use Keep Asking to learn how students react to your specific pedagogical choices and understand areas for instructor improvement.</p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="/img/office.jpeg" alt="Workers in an office">
          <div class="card-body">
            <h5 class="card-title">Business</h5>
            <p class="card-text">Company managers can use Keep Asking to analyse the impact of their leadership style and identify ways to improve management techniques.</p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="/img/team.jpeg" alt="Players in a sports team kneeling in a grassy sports field">
          <div class="card-body">
            <h5 class="card-title">Groups</h5>
            <p class="card-text">Team organisers can use Keep Asking to understand what people think of your decisions and maximise the effectiveness of your work.</p>
          </div>
        </div>
      </div>

      <hr class="my-4">

      <div class="row">
        <div class="col-md-8">
          <h2>Keep Asking's Origin</h2>
          <p>
            Keep Asking was built in early 2018 by <a href="https://www.sebthedev.com">Sebastian Hallum&nbsp;Clarke</a> as the capstone project of his undergraduate degree in computer science at Princeton&nbsp;University. In designing and creating Keep Asking, Sebastian was advised by <a href="https://github.com/jlumbroso">Dr&nbsp;Jérémie Lumbroso</a>.
          </p>
          <p>
            Dr Lumbroso used Keep Asking with the students of his Princeton University <a href="https://registrar.princeton.edu/course-offerings/course_details.xml?courseid=002065&term=1184">Advanced Programming Techniques</a> course.
          <p>
            For further information about Keep Asking you can read the <a href="/docs/report.pdf" target="_blank">project report</a>, view the <a href="/docs/poster.pdf" target="_blank">poster</a>, or contact <a href="https://www.sebthedev.com">Sebastian</a>.
          </p>
        </div>
        <div class="col-md-4">
          <figure class="figure">
            <a href="/docs/poster.pdf" target="_blank">
              <img src="/img/poster.png" alt="The Keep Asking poster. See the linked poster.pdf." class="img-fluid figure-img border">
            </a>
            <figcaption class="figure-caption text-center">A poster explaining the rationale and approach of Keep&nbsp;Asking.</figcaption>
          </figure>
        </div>
      </div>

    </div>
  </div>

<%- include('./partials/feet'); %>
