<div class="card my-4">
  <div class="card-body">
    <h3 class="card-title"><%= question.title %></h3>
    <% if (question.kind === 'rank') { %>
      <%- include('./' + question.kind + 'QuestionTemplate') %>
    <% } else { %>
      <table class="table">
        <thead>
          <th style="width: 200px">Survey Date</th>
          <th>Responses</th>
        </thead>
        <tbody>
          <% for (let responseDate in question.responses) { %>
            <tr>
              <td>
                <%= responseDate %>
              </td>
              <td>
                <%- include('./' + question.kind + 'QuestionTemplate', {responseDate}) %>
              </td>
            </tr>
          <% } %>
        </tbody>
      </table>
    <% } %>
  </div>
</div>
