<%
const responses = []
for (const option of question.options) {
  responses.push(question.responses[responseDate][option])
}
%>
<div class="chart-container" style="height: 200px;">
  <canvas class="scaleChoiceChart" data-responses="<%= JSON.stringify(responses) %>" data-options="<%= JSON.stringify(question.options) %>"></canvas>
</div>
