<div class="chart-container" style="height: 200px;">
  <canvas class="scaleChoiceChart" data-responses="<%= JSON.stringify(question.responses[responseDate]) %>" data-options="<%= JSON.stringify([question.options[0], '', '', '', question.options[1]]) %>"></canvas>
</div>
