<dl class="row">
  <% for (let responseDate in question.responses) { %>
    <dt class="col-sm-2"><%= responseDate %></dt>
    <dd class="col-sm-10">
      <% for (let response of question.responses[responseDate]) { %>
        <p><%= response %></p>
      <% } %>
    </dd>
  <% } %>
</dl>
