<div class="form-group">
  <% if (question.textAreaSize !== 'large') { %>
    <input class="form-control" data-question-attribute="answer" id="<%=question.id%>">
  <% } else { %>
    <textarea class="form-control" data-question-attribute="answer" id="<%=question.id%>" rows="3"></textarea>
  <% } %>
</div>
