div.scale {
  max-width: 700px;
  label {
    width: 100%;
    min-height: 50px;
    cursor: pointer;
  }
  label:first-child, label:last-child {
    min-width: 100px;
  }
}

#footer {
  opacity: 0.2;
  transition: opacity 1s;
}
#footer:hover {
  opacity: 1;
  color: green;
}

#surveyScheduleDatepicker .datepicker {
  margin: auto;
  width: 200px;
}
