// @import "./../node_modules/bootstrap/scss/bootstrap";
//
// $theme-colors: (
//   "primary": #0074d9,
//   "danger": #ff4136
// );

// Your variable overrides
// $body-bg: #000;
// $body-color: #111;

// $theme-colors: (
//   "primary": #ff9933,
//   "danger": #ff4137
// );

div.scale {
  max-width: 700px;
  label {
    width: 100%;
    min-height: 50px;
    cursor: pointer;
  }
  label:first-child, label:last-child {
    min-width: 100px;
  }
}

// Bootstrap and its default variables
@import "./../../node_modules/bootstrap/scss/bootstrap";
